p{
    color: rgb(129, 18, 18);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(18, 172, 159);
}
body{
    background-color: rgba(29, 209, 6, 0.822);
}
/*Para acomodar la informacion de manera horizontal se utiliza la propiedad DISPLAY: FLEX y FLEX DIRECCION: ROW*/
ul{
    display: flex;
    flex-direction: row;
}
ul > li{
    margin: 5%;
}
h4{
    color: purple;
    font-size: 30px;
}